<center><h1>Sets</h1></center>
<li>curly Braces</li>
<li>It is unordered and unIndexed</li>
<li>dont have any duplicate items.</li>

In [1]:
dir(set())

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [2]:
mySet = set()

In [3]:
mySet

set()

In [4]:
names_set = {'marry' , 'nina' , 'elle' , 'scott'}
names_set

{'elle', 'marry', 'nina', 'scott'}

In [5]:
type(names_set)

set

In [7]:
names_set = {'marry' , 'nora' , 'nina' , 'elle' , 'scott' , 'nora' , 'elle'}
names_set

{'elle', 'marry', 'nina', 'nora', 'scott'}

In [9]:
mixed_set = {"Alex" , 10 , 10.54 , True}
mixed_set

{10, 10.54, 'Alex', True}

In [10]:
another_mixed_set = {"Alex" , 10 , 10.54 , True , (1,2,3)}
another_mixed_set

{(1, 2, 3), 10, 10.54, 'Alex', True}

now lets used list instead of Tuple in the another_mixed_set

In [11]:
mixed_set = {"Alex" , 10 , 10.54 , True , [1,2,3]}
mixed_set

TypeError: unhashable type: 'list'

1. The lesson from this little example is that in order for an element to be added to a list, that element has to be hashable.
2. The set object is going to check for duplicates by comparing the hash values of different objects contained within.
##### Why then is it that tuples can be contained within sets, and so are clearly hashable, while lists cannot?
+ Tuples are immutable, lists are mutable. And the hash value of a mutable object can change while it's contained within the set. And this would lead to problems about consistency of the set. And that's why it's not okay to add a mutable object such as a list into a set.

In [21]:
laptop_set ={"HP", "Apple", "Dell", "Asus", "Lenovo", "MSI", "Toshiba"}
laptop_set

{'Apple', 'Asus', 'Dell', 'HP', 'Lenovo', 'MSI', 'Toshiba'}

In [22]:
laptop_set.add('Genpact')
laptop_set

{'Apple', 'Asus', 'Dell', 'Genpact', 'HP', 'Lenovo', 'MSI', 'Toshiba'}

In [23]:
laptop_set.add('Apple')
laptop_set

{'Apple', 'Asus', 'Dell', 'Genpact', 'HP', 'Lenovo', 'MSI', 'Toshiba'}

as we can see that 'Apple' was already in the list so when we added it 2nd time, we didnt got any traceback but 2nd 'Apple' entry was not add because sets wont allow any duplicates

In [24]:
laptop_set.discard('Dell')
laptop_set

{'Apple', 'Asus', 'Genpact', 'HP', 'Lenovo', 'MSI', 'Toshiba'}

In [25]:
laptop_set.remove('Lenovo')
laptop_set

{'Apple', 'Asus', 'Genpact', 'HP', 'MSI', 'Toshiba'}

In [26]:
laptop_set.remove('Lenovo')
laptop_set

KeyError: 'Lenovo'

In [27]:
laptop_set.discard('Lenovo')
laptop_set

{'Apple', 'Asus', 'Genpact', 'HP', 'MSI', 'Toshiba'}

here we can see that .discard() is forgiving when it comes to removing a non-existing element but .remove() gives a traceback when it comes to removing a non-existing element

### Sets Operations

In [1]:
student_set_1 = {"Anita", "Emma"}
student_set_2 = {"James", "Olivia"}
student_set_3 = {"James", "Anita"}

In [2]:
student_set_1.union(student_set_2)

{'Anita', 'Emma', 'James', 'Olivia'}

###### A u B = A + B - (A n B)

###### A n B = common elements in both sets

In [3]:
student_set_1.intersection(student_set_2)

set()

In [5]:
student_set_1.intersection(student_set_3)

{'Anita'}

In [6]:
student_set_2.intersection(student_set_3)

{'James'}

In [7]:
student_set_1.union(student_set_3)

{'Anita', 'Emma', 'James'}

In [10]:
student_set_1.difference(student_set_3) #return elements that are present in set1(operand1) but not in set3(operand2)

{'Emma'}

In [12]:
{1,2,3}.isdisjoint({4,5,6}) # returns true if nothing is common in both Operand Sets

True

In [15]:
{10,20}.issubset({10,30,20}) # returns true if operand1 is a subset of operand2

True

In [17]:
{10,20,30}.issubset({10,20})

False

In [18]:
{10,20,30}.issuperset({10,20})

True

###### conversion of list and tuple to set
we can identify set by:
+ unique elements
+ enclosed in curly braces

In [20]:
names_list = ['marry' , 'nora' , 'nina' , 'elle' , 'scott' , 'nora' , 'elle']
names_tuple = ('marry' , 'nora' , 'nina' , 'elle' , 'scott' , 'nora' , 'elle')

In [23]:
names_list_to_set = set(names_list)
names_list_to_set

{'elle', 'marry', 'nina', 'nora', 'scott'}

In [25]:
names_tuple_to_set = set(names_tuple)
names_tuple_to_set

{'elle', 'marry', 'nina', 'nora', 'scott'}

## Copy Operator in Sets

###### Shallow Copy

In [1]:
color_set = {'blue' , 'red' , 'yellow' , 'orange' , 'pink'}
color_set

{'blue', 'orange', 'pink', 'red', 'yellow'}

In [3]:
color_set_copy = color_set

print('Original:', color_set)
print('Modified:', color_set_copy)

Original: {'orange', 'blue', 'yellow', 'pink', 'red'}
Modified: {'orange', 'blue', 'yellow', 'pink', 'red'}

In [4]:
color_set_copy.remove('red')

print('Original:', color_set)
print('Modified:', color_set_copy)

Original: {'orange', 'blue', 'yellow', 'pink'}
Modified: {'orange', 'blue', 'yellow', 'pink'}

as we can see that it also removes the element from the main copy too.

###### Deep Copy

now lets use the .copy() operator

In [8]:
color_set = {'blue' , 'red' , 'yellow' , 'orange' , 'pink'}
color_set

{'blue', 'orange', 'pink', 'red', 'yellow'}

In [9]:
color_set_copy = color_set.copy()

print('Original:', color_set)
print('Modified:', color_set_copy)

Original: {'orange', 'blue', 'yellow', 'pink', 'red'}
Modified: {'orange', 'blue', 'yellow', 'pink', 'red'}

In [10]:
color_set_copy.add('maganta')

print('Original:', color_set)
print('Modified:', color_set_copy)

Original: {'orange', 'blue', 'yellow', 'pink', 'red'}
Modified: {'orange', 'blue', 'maganta', 'yellow', 'pink', 'red'}

In [11]:
color_set = {'blue' , 'red' , ['yellow' , 'orange'] , 'pink'}

TypeError: unhashable type: 'list'

In [12]:
color_set = {'blue' , 'red' , {'yellow' , 'orange'}, 'pink'}

TypeError: unhashable type: 'set'

In [13]:
color_set = {'blue' , 'red' , ('yellow' , 'orange') , 'pink'}
color_set

{('yellow', 'orange'), 'blue', 'pink', 'red'}

here as tuple are not mutable we cant edit the tuple from the set