In [1]:
someRange = range(20)
someRange

range(0, 20)

In [2]:
tup = tuple(someRange)
tup

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [3]:
lst = list(someRange)
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [5]:
list(range(-5,+5))

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]

In [9]:
for i in someRange:
    print(i, end = " ") #here end = " " is because we want to print all int in same line.
                        # default; end = "\n"

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [10]:
for i in range(0,30,3):
    print(i , end = " ")

0 3 6 9 12 15 18 21 24 27

In [11]:
for i in range(-15,+15,4):
    print(i , end = " ")

-15 -11 -7 -3 1 5 9 13

In [12]:
for i in range(1,7):
    print( '%d is cube of %d' %(i**3 , i))

1 is cube of 1
8 is cube of 2
27 is cube of 3
64 is cube of 4
125 is cube of 5
216 is cube of 6