In [2]:
numbers = [100,200,300,400,500,600]
numbers

[100, 200, 300, 400, 500, 600]

In [4]:
numbers_copy = []
for num in numbers:
    numbers_copy.append(num)
numbers_copy

[100, 200, 300, 400, 500, 600]

In [7]:
numbers_copy_using_comprehension = [num for number in numbers]
numbers_copy_using_comprehension

[600, 600, 600, 600, 600, 600]

+ num: variable before 'for' is the return value from the list comprehension expression
+ number: Loop Variable for iterating over iterable
+ numbers: Iterable

In [8]:
numbers_square = [n*n for n in numbers]
numbers_square

[10000, 40000, 90000, 160000, 250000, 360000]

In [9]:
numbers_divided_by_10 = [n/10 for n in numbers]
numbers_divided_by_10

[10.0, 20.0, 30.0, 40.0, 50.0, 60.0]

In [10]:
my_num = range(2,10)
my_num

range(2, 10)

In [11]:
[n**n for n in my_num]

[4, 27, 256, 3125, 46656, 823543, 16777216, 387420489]

In [12]:
list_of_words = ['to' , 'be' , 'or' , 'not' , 'to' , 'be' , 'that' , 'is' , 'the' , 'question']
list_of_words

['to', 'be', 'or', 'not', 'to', 'be', 'that', 'is', 'the', 'question']

In [13]:
uppercase_list = [word.upper() for word in list_of_words]
uppercase_list

['TO', 'BE', 'OR', 'NOT', 'TO', 'BE', 'THAT', 'IS', 'THE', 'QUESTION']

In [14]:
first_two_litters_list = [words[0:2] for words in list_of_words]
first_two_litters_list

['to', 'be', 'or', 'no', 'to', 'be', 'th', 'is', 'th', 'qu']

In [15]:
[x*x for x in range(20) if x % 2 == 0]

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

+ expression
+ for Loop
+ if condition; if True run the expression

In [16]:
multiples_13 = [i for i in range(200) if i % 13 == 0]
multiples_13

[0, 13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156, 169, 182, 195]

In [17]:
[i for i in 'Harry Potter' if i.upper() not in ['A' , 'E' , 'I' , 'O' , 'U']]

['H', 'r', 'r', 'y', ' ', 'P', 't', 't', 'r']

In [18]:
[i for i in 'Harry Potter' if i.upper() in ['A' , 'E' , 'I' , 'O' , 'U']]

['a', 'o', 'e']

In [21]:
shapes = ['Square' , 'Circle' , 'Triangle']
colors = ['Red' , 'Blue' , 'Green']

combined = [(c,s) for s in shapes for c in colors]
combined

[('Red', 'Square'),
 ('Blue', 'Square'),
 ('Green', 'Square'),
 ('Red', 'Circle'),
 ('Blue', 'Circle'),
 ('Green', 'Circle'),
 ('Red', 'Triangle'),
 ('Blue', 'Triangle'),
 ('Green', 'Triangle')]

this is an example of nested loops
+ expression
+ for loop
+ nested For Loop

In [22]:
number_list = [number for number in range(200) if number % 7 == 0 if number % 13 == 0]
number_list

[0, 91, 182]

this is am example of Nested IF 
+ expression
+ For Loop
+ If condition 1
+ If condition 2
    + note that condition 1 and 2 are 'Logical AND'

In [24]:
num = [(i,'Even') if i % 2 == 0 else (i,'Odd') for i in range(8)]
num

[(0, 'Even'),
 (1, 'Odd'),
 (2, 'Even'),
 (3, 'Odd'),
 (4, 'Even'),
 (5, 'Odd'),
 (6, 'Even'),
 (7, 'Odd')]

This is an Example where there is If in the Expression
+ Expression ; [(i,'Even') if i%2==0 else (i,'Odd')]
    + means i = Even, Expression = (i,'Even')
    + i = Odd, Expression = (i,'Odd')
+ For Loop

## Generators

In [26]:
input_list = [1,2,3,4,5,6,7]
output_generator = (x * x for x in input_list)
print(output_generator)

<generator object <genexpr> at 0x0000027B2745D9E0>

In [27]:
type(output_generator)

generator

+ it have a memory location
+ more memory efficient form of same information than the list comprehension
+ generator objects are stateful
+ generator objects are Iterable

In [28]:
list_from_generator = list(output_generator)
list_from_generator

[1, 4, 9, 16, 25, 36, 49]

In [29]:
another_list_from_generator = list (output_generator)
another_list_from_generator

[]

this is because generator objects are stateful.
output_generator are exosted when we created the first list i.e. list_from_generator

In [30]:
list_of_words = ['Harry' , 'Potter' , 'and' , 'the' , 'Chamber' , 'of' , 'Secrets']
uppercase_generator = (x.upper() for x in list_of_words)
uppercase_generator

In [34]:
for word in uppercase_generator:
    print(word)

HARRY
POTTER
AND
THE
CHAMBER
OF
SECRETS

In [38]:
sentence = input('Please enter a sentence: ')

words = sentence.split()
words

Please enter a sentence: to be or to not be is the question

['to', 'be', 'or', 'to', 'not', 'be', 'is', 'the', 'question']

In [39]:
unique_words = {w for w in words }
unique_words

{'be', 'is', 'not', 'or', 'question', 'the', 'to'}

In [43]:
original = {"Alice" : 34000 , "Bob" : 23000 , "Charles" : 28000}
flipped = {value : key for key , value in original.items()}
flipped

{34000: 'Alice', 23000: 'Bob', 28000: 'Charles'}