In [1]:
def intro():
    print('this is the intro function.')
    print('Here \'def\' is the keyword used for defining function.')

for calling function we have to simply use the function name.

In [2]:
intro()

this is the intro function.
Here 'def' is the keyword used for defining function.

In [4]:
def hello():
    print('In the function hello')

print('what does this print?')

hello()

what does this print?
In the function hello

In [5]:
hello

In [9]:
some_function = hello

In [10]:
some_function

In [11]:
some_function()

In the function hello

A function acts as a variable or an Object

## Passing Values using Input Arguments

In [2]:
def function_with_error():
    result = 'a' + 2
    print (result)

In [6]:
function_with_error()

TypeError: can only concatenate str (not "int") to str

In [7]:
def greeting(name):
    print (f'Hello {name}')
    print ('Wellcome Aboard!')

greeting('Alan')

Hello Alan
Wellcome Aboard!

In [8]:
greeting('Anna')

Hello Anna
Wellcome Aboard!

In [9]:
greeting('Alex')

Hello Alex
Wellcome Aboard!

In [12]:
def greeting_full_name(fname , lname):
    print (f'Hello {fname} {lname}')
    print ('Wellcome Aboard!')

greeting_full_name('Evan' , 'Westerly')

Hello Evan Westerly
Wellcome Aboard!

In [13]:
greeting_full_name('Anna' , 'Smith')

Hello Anna Smith
Wellcome Aboard!

In [14]:
greeting_full_name('Alex')

TypeError: greeting_full_name() missing 1 required positional argument: 'lname'

In [20]:
def divisible_by_5(some_number):
    if some_number % 5 == 0:
        print(f'{some_number} is divisible by 5')
    else:
        print(f'{some_number} is not divisible by 5')

In [21]:
divisible_by_5(4)

4 is not divisible by 5

In [22]:
divisible_by_5(45)

45 is divisible by 5

In [23]:
divisible_by_5(100)

100 is divisible by 5

In [24]:
divisible_by_5(11.5)

11.5 is not divisible by 5

In [25]:
divisible_by_5(55.5)

55.5 is not divisible by 5

In [26]:
divisible_by_5(100.0)

100.0 is divisible by 5

In [27]:
divisible_by_5('Eleven')

TypeError: not all arguments converted during string formatting

In [28]:
def print_times(some_string , num_times):
    '''
        Prints the specified string the specified number of times
        
        The first argument is the string that you want to be printed, 
        the second argument is the number of times that you wanted to 
        print the string.
        
        Parameter/Arguments (both required):
        some_string(str): The string that you wanted to be printed.
        num_times(int): The number of times the string should be printed.
        
        Return:
        No Return value
    '''
    
    for i in range (num_times):
        print (some_string)

In [29]:
print_times('Hello World!' , 5)

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!

## Return Keyword

In [30]:
def square(x):
    y = x*x
    print('Square:', y)

In [31]:
square(8)

Square: 64

In [32]:
result = square(8)
print(result)

Square: 64
None

we get 'None' in the print because the function have no return type. i.e. It doesnt return any value.We can say that the function square(x) is same as the one shown below

In [33]:
def square(x):
    y = x*x
    print('Square:', y)
    return None

In [35]:
result = square(7)
print(result)

Square: 49
None

In [36]:
type(square)

function

In [37]:
type(result)

NoneType

In [38]:
def square(x):
    
    y = x*x
    
    print('Square:', y)
    
    return

In [39]:
result = square (7)

print (result)

type(result)

Square: 49
None

NoneType

In [40]:
def square(x):
    y = x* x
    return y

In [41]:
result = square (7)

print (result)

type(result)

49

int

In [42]:
result = square (11)

print (result)

type(result)

121

int

In [43]:
result = square (11.3)

print (result)

type(result)

127.69000000000001

float

In [ ]:
s

In [46]:
def calculator(n1,n2):
    
    add = n1+n2
    sub = n1-n2
    mul = n1*n2
    div = n1/n2
    
    return add,sub,mul,div

In [48]:
add_result , sub_result , mul_result , div_result = calculator(100,5)
add_result , sub_result , mul_result , div_result

(105, 95, 500, 20.0)

In [49]:
add_result , _ , _ , _= calculator(100,5)
add_result

105

In [50]:
add_result , _ , mul_result , _ = calculator(100,5)
add_result, mul_result

(105, 500)

In [58]:
def positive_or_negative(num):
    if num > 0:
        return 'Positive'
    elif num < 0:
        return 'negativee'
    else:
        pass #return None

In [59]:
positive_or_negative(22)

'Positive'

In [60]:
positive_or_negative(-2)

'negativee'

In [61]:
positive_or_negative(0)

In [62]:
result = positive_or_negative(20)
print (result)

Positive

In [63]:
result = positive_or_negative(0)
print (result)

None

In [64]:
def create_list (some_string:str , num_times:int) -> list:
    '''
        Returns a list containing the specified string the specified
        number of times
        The first argument is the string you want printed, the second
        argument is the number of times you want to the string printed 
        
        Parameters (both required):
        some_string(str): The string to be printed
        num_times(int): the number of time the string should be printed
        
        Returns:
        A list containing the specified string the specified number of times
    '''
    
    return [some_string for i in range(num_times)]

In [65]:
lst = create_list ('Hello' , 5)
lst

['Hello', 'Hello', 'Hello', 'Hello', 'Hello']

In [70]:
len(lst)

5

In [73]:
for i in lst:
    print (i)

Hello
Hello
Hello
Hello
Hello

In [75]:
result = create_list(5,4)
result

[5, 5, 5, 5]

## using Positional, Keyword and Default Arguments

In [77]:
def order_food(name , food):
    print(f'my name is {name} and I have ordered {food}')

In [78]:
order_food('Tony','Pizza')

my name is Tony and I have ordered Pizza

In [79]:
order_food ('Alex')

TypeError: order_food() missing 1 required positional argument: 'food'

    positional argument 'food' is missing....

by default when we invoke a function the values that are passed in the function are mapped according to the input arguments based on their positions.

In [81]:
def create_student_record (name , age , major , university , gpa):
    return {
        'name' : name,
        'age' : age,
        'major' : major,
        'university' : university,
        'gpa' : gpa
    }

this function will return a dictionay which have keys name , age , major , university and gpa which are associated each of the input arguments

this is great way to check the mapping of the input arguments to the formal arguments of the function

In [83]:
student_1 = create_student_record( "Sonia ", 23, "Computer Science ", " Columbia University " , 3.8 )
student_1

{'name': 'Sonia ',
 'age': 23,
 'major': 'Computer Science ',
 'university': ' Columbia University ',
 'gpa': 3.8}

In [86]:
student_2 = create_student_record( "Jonas ", "Computer Science ", 23 , 3.4 , " Columbia University ")
student_2

{'name': 'Jonas ',
 'age': 'Computer Science ',
 'major': 23,
 'university': 3.4,
 'gpa': ' Columbia University '}

here we can see that the age , major , gpa are not mapped correctly since we have passed the argument in different order

    this is an example of simple and incorrect invocation of a function based on Positional Argument specification.

student_1 and student_2 definations, in both we have used the positional Arguments, its just that the order in student_2 happened to be wrong

and this is where the keyword Argument come in handy

In [89]:
student_2 = create_student_record( name ="Jonas", major = "Computer Science ",
                                  age = 23 , gpa = 3.4 , 
                                  university = " Columbia University ")
student_2

{'name': 'Jonas',
 'age': 23,
 'major': 'Computer Science ',
 'university': ' Columbia University ',
 'gpa': 3.4}

In [90]:
student_3 = create_student_record( name ="Nick", gpa = 3.4 , major = 'Computer Science' , university = 'Columbia University' , age = 22)
student_3

{'name': 'Nick',
 'age': 22,
 'major': 'Computer Science',
 'university': 'Columbia University',
 'gpa': 3.4}

the only thing we should be careful is that the names or the keywords which we specify while invoking the function are exactly the same as those which were used while defining the function. If we violate the contract we are getting an error

In [91]:
student_3 = create_student_record( name ="Nick", gpa = 3.4 , major = 'Computer Science' ,
                                  university = 'Columbia University' , age = 22,
                                 minor = 'Philosophy')
student_3

TypeError: create_student_record() got an unexpected keyword argument 'minor'

In [95]:
student_4 = create_student_record( "Peter", 22 ,'Electrical Engineering' , 
                                  gpa = 3.9 , university = 'Columbia University')
student_4

{'name': 'Peter',
 'age': 22,
 'major': 'Electrical Engineering',
 'university': 'Columbia University',
 'gpa': 3.9}

here first 3 are the positional Argument and then we passed other 2 as the keyword arguments as we specify gpa = 3.9 and university = 'Columbia University'

As we can see that it clealy works

So it is possible to mix Positional and Keyword Arguments

now lets try swapping around the order

In [96]:
student_4 = create_student_record( name = "Peter",age = 22 ,major = 'Electrical Engineering' , 
                                  3.9 , 'Columbia University')
student_4

SyntaxError: positional argument follows keyword argument (4284596924.py, line 2)

    So from this we can say that it is possible to mix the Arguments but only if the Positional Arguments comes before the Keyword Arguments.

In [100]:
def create_student_record (name , age , gpa , major= 'Computer Science' , 
                             university = 'Princeton'):
    return {
        'name' : name,
        'age' : age,
        'gpa' : gpa,
        'major' : major,
        'university' : university
    }

    here it is rule that the arguments with default value are to be on the right most side when defining the parameter i.e. defining the function as we can see above

In [107]:
student_1 = create_student_record("Suri" , 22 , 3.4)
student_1

{'name': 'Suri',
 'age': 22,
 'gpa': 3.4,
 'major': 'Computer Science',
 'university': 'Princeton'}

In [108]:
student_2 = create_student_record("Katie" , 20 , 3.8 , 'English')
student_2

{'name': 'Katie',
 'age': 20,
 'gpa': 3.8,
 'major': 'English',
 'university': 'Princeton'}

In [109]:
student_3 = create_student_record("Tom" , 20 , 3.8 , 'Chemistry' , 'Cornell')
student_3

{'name': 'Tom',
 'age': 20,
 'gpa': 3.8,
 'major': 'Chemistry',
 'university': 'Cornell'}

In [110]:
student_3 = create_student_record(age = 20 , gpa = 3.8 , major = 'Chemistry' ,university = 'Cornell')
student_3

TypeError: create_student_record() missing 1 required positional argument: 'name'

from this we can se=ay that we cannot omit arguments if they do not have any default values

In [111]:
def create_student_record (major= 'Computer Science' , university = 'Princeton',
                           name , age , gpa):
    return {
        'name' : name,
        'age' : age,
        'gpa' : gpa,
        'major' : major,
        'university' : university
    }

SyntaxError: non-default argument follows default argument (4230489638.py, line 2)

In [112]:
def create_student_record (name = 'Alice' , age = 22, gpa = 3.5, major= 'Computer Science' , 
                             university = 'Princeton'):
    return {
        'name' : name,
        'age' : age,
        'gpa' : gpa,
        'major' : major,
        'university' : university
    }

In [113]:
student_1 = create_student_record()
student_1

{'name': 'Alice',
 'age': 22,
 'gpa': 3.5,
 'major': 'Computer Science',
 'university': 'Princeton'}